site_name: HOT Docs Index
site_description: Documentation index across HOT's tools.
# strict: true
site_url: "https://www.hotosm.org"

repo_name: "hotosm/docs"
repo_url: "https://github.com/hotosm/docs/"
edit_uri: "edit/main/docs/"

extra:
  social:
    - icon: "fontawesome/brands/github"
      link: "https://github.com/hotosm/"
    - icon: "fontawesome/brands/twitter"
      link: "https://twitter.com/hotosm"
    - icon: "fontawesome/solid/globe"
      link: "https://www.hotosm.org"
  copyright: Copyright &copy; 2010 HOTOSM
  generator: false

theme:
  name: material
  palette:
    primary: custom
  favicon: assets/images/favicon.png
  logo: assets/images/hot_logo.png
  # custom_dir: docs/overrides

extra_css:
  - css/extra.css

markdown_extensions:
  - tables
  - toc:
      permalink: true
      title: Page contents
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.extra
  - pymdownx.emoji:
  - pymdownx.tabbed:
      alternate_style: true

plugins:
  - search

nav:
  - Home: index.md
  - Projects:
      - Intro: tools-summary.md
      - Tasking Manager:
          - Docs: https://hotosm.github.io/tasking-manager/
          - Roadmap: https://github.com/orgs/hotosm/projects/28
          - Task Tracker: https://github.com/orgs/hotosm/projects/14/views/2
      - FMTM:
          - Overview: techdoc/overview/FMTMProductPitch.pdf
          - Docs: https://hotosm.github.io/fmtm/
          - Roadmap: https://github.com/orgs/hotosm/projects/22/views/6
          - Task Tracker: https://github.com/orgs/hotosm/projects/22
          - Field Pilots:
              - Monrovia: projects/FMTM/Monrovia E2E Request.pdf
      - fAIr:
          - Overview: techdoc/overview/fAIrProductPitch.pdf
          - Docs: https://fair-dev.hotosm.org/
          - Roadmap: https://github.com/orgs/hotosm/projects/30/views/1
          - Task Tracker: https://github.com/orgs/hotosm/projects/30/views/2
      - Raw Data API:
          - Docs: https://hotosm.github.io/raw-data-api/
          - Roadmap: https://github.com/orgs/hotosm/projects/29
          - Task Tracker: https://github.com/orgs/hotosm/projects/29/views/2
      - Underpass:
          - Docs: https://hotosm.github.io/underpass/
          - Roadmap: https://github.com/orgs/hotosm/projects/23/views/3
          - Task Tracker: https://github.com/orgs/hotosm/projects/23
      - Open Aerial Map:
          - Overview: techdoc/overview/OAMProductPitch.pdf
          - Browser: https://hotosm.github.io/oam-browser/
          - API: https://hotosm.github.io/oam-api/
      - Export Tool:
          - Docs: https://hotosm.github.io/osm-export-tool/
          - Roadmap: https://github.com/orgs/hotosm/projects/29
          - Task Tracker: https://github.com/orgs/hotosm/projects/29/views/2
      - Roadmap: roadmap.md

  - Modularization:
      - Info: modules.md
      - Backend: modules/backend.md
      - Frontend: modules/frontend.md
      - UI / Design:
          - UI Components: https://hotosm.github.io/ui/
#          - Map Component: https://hotosm.github.io/shared-map-components/
#          - Underpass UI: https://hotosm.github.io/underpass-ui/
      - Python Modules:
          - OSM Fieldwork: https://hotosm.github.io/osm-fieldwork/
          - OSM RawData: https://hotosm.github.io/osm-rawdata/
          - Conflator: https://hotosm.github.io/conflator/
          - TM Admin: https://hotosm.github.io/tm-admin/
          - OSM Login: https://hotosm.github.io/osm-login-python/
          - FMTM Splitter: https://hotosm.github.io/fmtm-splitter/
          - fAIr Utilities: https://hotosm.github.io/fAIr-utilities/
  - Developer Guidelines:
      - Intro: dev-guide/intro.md
      - Git: dev-guide/git.md
      - Pre-Commit: dev-guide/pre-commit.md
      - Containers:
          - Intro: dev-guide/containers-101.md
          - Cheat Sheet: dev-guide/containers-cheat-sheet.md
      - Dependency Management: dev-guide/dep-management.md
      - Version Control: dev-guide/version-control.md
      - Generating Docs: dev-guide/doc-gen.md
      - Web APIs: dev-guide/web-apis.md
      - Web Frameworks: dev-guide/web-frameworks.md
      - Testing: dev-guide/testing.md
      - Documentation: techdoc/README.md
  - DevOps:
      - Reusable Workflows: https://hotosm.github.io/gh-workflows/
  - Code of Conduct: code-of-conduct.md
